In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('../Data/aita_clean.csv')

In [12]:
df.drop(columns=['timestamp', 'edited'], inplace=True)

In [14]:
df['combined_text'] = df['title'] + ' ' + df['body']

In [16]:
df = df[:20000]

In [18]:
df.head()

,id,title,body,verdict,score,num_comments,is_asshole,combined_text
0,1ytxov,[AITA] I wrote an explanation in TIL and came ...,[Here is the post in question](http://www.redd...,asshole,52,13.0,1,[AITA] I wrote an explanation in TIL and came ...
1,1yu29c,[AITA] Threw my parent's donuts away,"My parents are diabetic, morbidly obese, and a...",asshole,140,27.0,1,[AITA] Threw my parent's donuts away My parent...
2,1yu8hi,I told a goth girl she looked like a clown.,I was four.,not the asshole,74,15.0,0,I told a goth girl she looked like a clown. I ...
3,1yuc78,[AItA]: Argument I had with another redditor i...,http://www.reddit.com/r/HIMYM/comments/1vvfkq/...,everyone sucks,22,3.0,1,[AItA]: Argument I had with another redditor i...
4,1yueqb,[AITA] I let my story get a little long and bo...,NaN,not the asshole,6,4.0,0,NaN

In [19]:
df.to_csv('../Data/aita_posts.csv', index=False)

print("Field 'combined_text' added and CSV updated successfully!")

Field 'combined_text' added and CSV updated successfully!

In [22]:
df[:4000].to_csv('../Data/aita_posts1.csv', index=False)
df[4001:8000].to_csv('../Data/aita_posts2.csv', index=False)
df[8001:12000].to_csv('../Data/aita_posts3.csv', index=False)
df[12001:16000].to_csv('../Data/aita_posts4.csv', index=False)
df[16001:20000].to_csv('../Data/aita_posts5.csv', index=False)